Django
gunicorn
django-heroku
django-environ
django-storages
dj-database-url
django-bootstrap-v5
Pillow

#form styling dependencies
django-crispy-forms
crispy-bootstrap5

#google login dependencies
django-allauth
PyJWT
requests
cryptography

#amazon s3 dependencies
django-storages
boto3django-environ
