#core app dependencies
Django
gunicorn
django-heroku
dj-database-url
Pillow

#form styling dependencies
django-crispy-forms
crispy-bootstrap5
django-bootstrap-v5

#google login dependencies
django-allauth
PyJWT
requests
cryptography

#amazon s3 dependencies
django-storages
boto3
django-environ

#filtering dependencies
django-filter
