/* css taken from
    https://css-tricks.com/snippets/css/typewriter-effect/
*/

.dark {
  --background-color: rgb(25, 25, 25);
  --text-color: rgb(255, 255, 255, .75);
  --caret-color:white;
}

.light{
  --background-color: white;
  --text-color: black;
  --caret-color: black;
}

/* font */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body, html{
  background-color:var(--background-color);
  color: var(--text-color);
  font-family: 'Anonymous Pro', monospace;
  width:100%;
  height:100%;
  overflow-x:hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.typewriter{
  margin-top:10vh;
  width:50%;
  margin-left:10%;
  margin-right:10%
}

.typewriter p {

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          blink-caret calc(var(--text-time) + 0.2s) step-end forwards,
          typing var(--text-time) steps(40, end);
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(1){
  --text-length: 14ch;
  --text-time: 0.5s;

  animation-delay: 0s,0s;
}

.typewriter p:nth-child(2){
  --text-length: 32ch;
  --text-time: 1s;

  width: 0;
  margin-left:5%;
  animation-delay: 1s, 1s;
}

.typewriter p:nth-child(3){
  --text-length: 10ch;
  --text-time: 0.5s;

  width: 0;
  margin-left:10%;
  animation-delay: 2.5s, 2.5s;
}

.typewriter p:nth-child(4){
  --text-length: 10ch;
  --text-time: 0.5s;

  width: 0;
  margin-left:10%;
  animation-delay: 3s, 3s;
}

.typewriter p:nth-child(5){
  --text-length: 10ch;
  --text-time: 0.5s;

  width: 0;
  margin-left:10%;
  animation-delay: 3.5s, 3.5s;
}

.typewriter p:nth-child(6){
  --text-length: 55ch;
  --text-time: 1s;

  margin-left:5%;
  width: 0;
  animation-delay: 4s, 4s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: var(--text-length); }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  1% { border-right: 0.15em solid var(--caret-color);}
  100% { border-right: solid transparent }
}

a{
  text-decoration: none;
  color:black;
}

.navbar, footer{
  background-color: black;
  color:white;
}

footer{
  position:sticky;
  top:100vh;
  justify-content: center;
}

#theme-icon{
  width: 30px;
  height: 30px;
  position:relative;
  background-color: white;
  border-radius: 50%;
  clip-path: circle(50%);
}

#sun-rays{
  width: 30px;
  height: 30px;
  background: conic-gradient(
    yellow 0deg 20deg,
    transparent 20deg 40deg,
    yellow 40deg 60deg,
    transparent 60deg 80deg
  ); /* Repeat pattern */
  border-radius: 50%;
  clip-path: circle(50%);
}



#black-circle{
  width:30px;
  height:30px;
  background-color: black;
  position:absolute;
  border-radius:50%;
  clip-path:circle(50%);
  transform: translate(6px,-6px);
}


