{% extends 'notes_app/profile/profile.html' %}



{% block scroll %}

    <style>
    #notes-check{
        border-top: solid var(--text-color);
    }
    </style>



    {% for note in notes %}
        {% if forloop.first or forloop.counter0|divisibleby:2 %}
            <div class="card-group row">
        {% endif %}
        <div class="card">
            <div class="row">
                <div class="col-md-2 d-flex align-items-center">
                    <img src="{{ note.get_display_image.file.url }}" class="img-fluid" style="max-width: 100px; max-height: 110px; min-width: 100px; min-height: 110px;">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                    <a href="{% url 'notes_app:view_clean_note' note.id %}"><h4 style = "color:#808080;text-decoration:underline;">{{ note.title }}</h4></a>
                    <p style = "color:#808080"><strong>Course Name:</strong> {{ note.course_name }}</p>
                    <p style = "color:#808080"><strong>Status: </strong>{% if note.is_borrowed %} Unavailable (Checked Out) {% else %} Available {% endif %}</p>
                    <a href="{% url 'notes_app:view_note_details' note.id %}" class="btn btn-secondary">Details</a>
                    {% if user.profile.get_role == "Patron" %}<a href="{% url 'notes_app:review_note' note.id %}" class="btn btn-secondary">Review</a>{% endif %}
                    {% if user.profile.get_role == "Librarian" %}<a href="{% url 'notes_app:edit_note' note.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'notes_app:delete_note' note.id %}?next={{ request.get_full_path }}" class="btn btn-secondary">Delete</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}