{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}


{% block title %}Profile{% endblock %}
{% block content %}
<link rel = "stylesheet" href = "{% static 'notes_app/css/profile.css' %}">
<div class = "container mt-4">
<div class = 'profile-container'>
    {% if user.is_authenticated %}

    <div class = "banner" style = "background-image: url('{{ user.profile.get_banner_url }}');"></div>
        <div class = "profile-picture-container"><img class = "profile-picture" role = "link" src = "{{ user.profile.get_profile_pic_url }}" alt = "Profile Picture"></div>
    <div class = "social-stats">
        <div class = "role">{{ user.profile.get_role }}</div>
        <div class = "posts">
            <div class = "posts-count">74</div>
            <div class = "posts-text grey">Notes</div>
        </div>
        <div class = "follows">
            <div class = "follow-count">675</div>
            <div class = "follow-text grey">Followers</div>
        </div>
        <a class = "edit-btn btn" href = "{% url 'notes_app:edit_profile' %}">Edit</a>
    </div>
    <div class = "info">
        <div class = "name">{{ user.profile.get_preferred_name }}</div>
        <div class = "pronouns grey">{{ user.profile.preferred_pronouns }}</div>
    </div>
    <div class = "bio">{{ user.profile.bio }}</div>
    <div role = "radiogroup" class = "notes-selection">
        <a class = "btn notes-btn" id = "collections-check" href = "{% url 'notes_app:profile' %}">Collections</a>
        <a class = "btn notes-btn" id = "notes-check" href = "{% url 'notes_app:profile_notes' %}">Notes</a>
    </div>
         {# will show collections owned by user #}
    <div class = "collections scroll-pane">
        {% block scroll %}
        {% endblock %}
    </div>
    {% else %}
        <p>You are not signed in.</p>
        <a href="{% provider_login_url 'google' next='/' %}">Google Login</a>
    {% endif %}
</div>
</div>
{% endblock %}