{% extends 'base.html' %}
{% load socialaccount %}


{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">
                {% if user.is_authenticated %}
                <div class="text-center">
                    <img src="{{ user.profile.get_profile_pic_url }}" width="100" class="rounded-circle">
                </div>

                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{ user.groups }}</span>
                    <h5 class="mt-2 mb-0">{{ user.profile.preferred_name }}</h5>
                    <span>{{ user.profile.preferred_pronouns }}</span>

                    <div class="px-4 mt-1">
                        {{ user.profile.bio }}

                    </div>

                    <div class="buttons">
                        <a class = "btn btn-outline-primary px-4" href = "{% url 'notes_app:edit_profile' %}">Edit</a>
                    </div>
                </div>
                {% else %}
                <div class = 'login-required'>
                    <p>You are not signed in.</p>
                    <a href="{% provider_login_url 'google' next='/' %}">Google Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}