{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container mt-4">
        {% include 'notes_app/messages.html' %}
        <h1>Edit Note</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy}}
            <div class="form-group">
                <label for="files">Upload New File(s)</label>
                <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="files" id="files" multiple>
                </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="files">Existing Files To Include In Updated Note</label>
                <select class="form-select" multiple aria-label="multiple select example" name="select_files" id="select_files">
                    {% for file in files %}
                        <option value="{{file.file.url}}" selected>{{ file.file.url }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
    </div>
    <br>  
{% endblock %}