<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel = "stylesheet" href = "{% static 'notes_app/css/home_style.css' %}">
</head>
<body>

{% include 'navbar.html' %}

<div class = "typewriter">
    <p class = "h1">•Cav Notes</p>
    <p class = "h4">◦A new way to share notes</p>
    <p>•Upload</p>
    <p>•Request</p>
    <p>•Share</p>
    <p class = "h4">◦Access the main website through the navbar</p>
</div>

{% include 'footer.html' %}
</body>