<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel = "stylesheet" href = "{% static 'notes_app/css/default_style.css' %}">
    <link rel = "stylesheet" href = "{% static 'notes_app/css/home_style.css' %}">
</head>
<body class = "{{ request.COOKIES.theme|default:'dark'}}">

{% if user.is_authenticated %}
    {% if user.groups.all|length > 0 %}
        {% for group in user.groups.all %}
            {% if group.name == "Librarians" %}
                {% include 'notes_app/navbars/librarian_navbar.html' %}
            {% elif group.name == "Patrons" %}
                {% include 'notes_app/navbars/patron_navbar.html' %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% include 'notes_app/navbars/anonymous_navbar.html' %}
    {% endif %}
{% else %}
    {% include 'notes_app/navbars/anonymous_navbar.html' %}
{% endif %}

<div class = "section1">
    <div class = "typewriter">
        <p class = "h1">•Cav Notes</p>
        <p class = "h4">◦A new way to share notes</p>
        <p>•Upload</p>
        <p>•Request</p>
        <p>•Share</p>
        <p class = "h4">◦Access the main website through the navbar</p>
    </div>
</div>
{% include 'footer.html' %}
<script src = "{% static 'notes_app/js/set_theme.js' %}"></script>
</body>