{% extends 'base.html'%}
{% block title %} Librarian Dashboard {% endblock %}

{% block content %}
<div class = "container">
<h2>Welcome to the Librarian Dashboard</h2>
<p><small>You have access to librarian features here.</small></p>

<ul class = "list-group">
    <li class = "list-group-item"><a href="#">Add New Notes</a></li>
    <li class = "list-group-item"><a href="#">Manage Borrowed Notes</a></li>
    <li class = "list-group-item"><a href="#">View Patron Requests</a></li>
</ul>

<h3>All Patrons:</h3>
  <ul>
      {% for patron in patrons %}
          <li>
              {{ patron.username }}
              <a href="{% url 'notes_app:promote_patron_view' patron.id %}">Promote to Librarian</a>
          </li>
      {% endfor %}
  </ul>
    
<br>
<a class = "g_id_signout" href="{% url 'account_logout' %}">Logout</a>
</div>
{% endblock %}