{% extends 'base.html'%}
{% block title %} Patron Dashboard {% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome to the Patron Dashboard</h2>
    <p><small>Here you can manage your borrowed books and requests.</small></p>

    <ul class="list-group">
        <li class="list-group-item"><a class="nav-link" href="{% url 'notes_app:available_notes' %}">Available Notes</a></li>
        <li class="list-group-item"><a class="nav-link" href="{% url 'notes_app:request_notes' %}">Request Notes</a></li>
        <li class="list-group-item"><a class="nav-link" href="{% url 'notes_app:borrowed_notes' %}">Borrowed Notes</a></li>
    </ul>
    

    <br>
    <a class="g_id_signout" href="{% url 'account_logout' %}">Logout</a>
</div>
{% endblock %}
