{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        {% include 'notes_app/messages.html' %}
        <h1>{{collection.title}}</h1>
        <p><strong>Creator: </strong>{{collection.created_by.email}}</p>
        <p><strong>Description: </strong>{{collection.description}}</p>
        <p><strong>Visibility: </strong>{{collection.visibility}}</p>
        {% if collection.visibility == 'private' %}
            <p><strong>User(s) With Acccess To Private Collection: </strong>
            {% for user in private_collection_patrons %}
                <p> {{ user.email }} [Patron] </p>
            {% endfor %}
            {% for user in librarians %}
                <p> {{ user.email }} [Librarian] </p>
            {% endfor %}
        {% endif %}
        <p>
            <p><strong>Notes In Collection:</strong></p> 
            {% for note in collection_notes %}
                <a href="{% url 'notes_app:view_full_note' note.id %}" target="_blank">
                    <u style = "color:var(--text-color)">{{ note.title }}</u>
                </a>
                <br>
            {% endfor %}
        </p>
        {% for group in user.groups.all %}
            {% if group.name == "Librarians" or user.id == collection.created_by.id %}
                {% if group.name == "Librarians" %}
                    <a href="{% url 'notes_app:view_collections' %}" class="btn btn-secondary">Back</a>
                {% else %}
                    <a href="{% url 'notes_app:patron_view_collections' %}" class="btn btn-secondary">Back</a>
                {% endif %}
                <a href="{% url 'notes_app:edit_collection' collection.id %}" class="btn btn-secondary">Edit Collection</a>
                <a href="{% url 'notes_app:delete_collection' collection.id %}" class="btn btn-secondary">Delete Collection</a>
            {% else %}
                <a href="{% url 'notes_app:patron_view_collections' %}" class="btn btn-secondary">Back</a>
            {% endif %}
        {% endfor %}
    </div>
    <br>
{% endblock %}
