{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container mt-4">
        {% include 'notes_app/messages.html' %}
        <h1>Create A Note</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form | crispy}} <!--crispy styles django forms using bootstrap-->
            <p>Upload File(s)</p>
            <input type="file" name="files" multiple>
            <br>
            <br>
            {% if form.errors %}
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>  
{% endblock %}