<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Note</title>
    {% load crispy_forms_tags %}
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel = "stylesheet" href = "{% static 'notes_app/css/home_style.css' %}">
</head>
<body class = "{{ request.COOKIES.theme|default:'dark'}}">
    {% include 'notes_app/navbars/librarian_navbar.html' %}
    <div class="container mt-4">
        <h1>Create Note</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy}}
            {% if form.errors %}
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src = "{% static 'notes_app/js/set_theme.js' %}"></script>
    {% include 'footer.html' %}
</body>
</html>