{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<style>
    .hidden {
        display: none;
    }
</style>

<div class="container mt-4">
    {% include 'notes_app/messages.html' %}
    <h1>Create A Collection</h1>
    <p>All notes added to a private collection will be removed from public collections and be hidden from patron note browsing.</p>
    <form id="collectionForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy}}
        <!-- second dropdown will be hidden initially, contains list of users and is dependent on visibility selected -->
        <div class="form-group hidden" id="access-users">
            <br>
            <label for="access-users-select">Select Patrons to Give Access</label>
            <select class="form-select" multiple aria-label="multiple select" name="access_users" id="access-users-select">
                {% for user in users %}
                    <option value="{{ user.email }}">{{ user.email }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="files">Public Notes To Include In Collection</label>
            <select class="form-select" multiple aria-label="multiple select" name="collection_notes" id="collection_notes">
                {% for note in notes %}
                    <option value="{{note.title}}">{{ note.title }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>

<script>
    document.getElementById('id_visibility').onchange = function() {
    var selectedValue = this.value;
    var accessUsersDiv = document.getElementById('access-users');
    
    if (selectedValue === 'private') {
        accessUsersDiv.classList.remove('hidden');
    } else {
        accessUsersDiv.classList.add('hidden');
    }
};
    document.getElementById('collectionForm').addEventListener('submit', function(event) {});
</script>

{% endblock %}
