{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h1>Filter Notes</h1>
    <form method="get">
        {{ notes_filter.form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    {% if notes %}
        {% for note in notes %}
            <div class="card">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ note.get_display_image.file.url }}" class="img-fluid" style="max-width: 220px; max-height: 230px; min-width: 220px; min-height: 230px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <a href="{% url 'notes_app:view_clean_note' note.id %}"><h4 style = "color:#808080;text-decoration: underline;">{{ note.title }}</h4></a>
                        <p style = "color:#808080"><strong>Course Name: </strong> {{ note.course_name }}</p>
                        <p style = "color:#808080"><strong>Status: </strong>{% if note.is_borrowed %} Unavailable (Checked Out) {% else %} Available {% endif %}</p>
                        <p style = "color:#808080"><strong>Rating: </strong>{{ note.get_average_rating }}{% if note.get_reviews.count > 0 %}/10{% endif %}</p>
                        <a href="{% url 'notes_app:edit_note' note.id %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'notes_app:view_note_details' note.id %}" class="btn btn-secondary">View</a>
                        <a href="{% url 'notes_app:delete_note' note.id %}" class="btn btn-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>              
            <br>
        {% endfor %}
    {% else %}
        <p style = "color:#808080">No notes found matching your criteria.</p>
    {% endif %}
</div>
<br>  
{% endblock %}