{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h1>Filter Notes</h1>
    <form method="get">
        {{ notes_filter.form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    {% load utils %}
    <div class = "card">
    {% if notes_and_file %}
        {% for tuple in notes_and_file %}
            {% with note=tuple|get_note %} <!--from utils.py since django templates doesn't support indexing into a tuple-->
            {% with file=tuple|get_file %}
            <div class="card">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ file.file.url }}" class="img-fluid" style="max-width: 220px; max-height: 230px; min-width: 220px; min-height: 230px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                        <h4 style = "color:#808080">{{ note.title }}</h4>
                        <p style = "color:#808080"><strong>Course Name: </strong> {{ note.course_name }}</p>
                        <p style = "color:#808080"><strong>Status: </strong>{% if note.is_requested %} Unavailable (Checked Out) {% else %} Available {% endif %}</p>
                        <p style = "color:#808080"><strong>Creation Date: </strong> {{ note.created_at }}</p>
                        <p style = "color:#808080"><strong>Rating: </strong>{{ note.get_average_rating }}</p>
                        <p style = "color:#808080"><strong>Visibility: </strong>{{ note.visibility }}</p>
                        <a href="{% url 'notes_app:edit_note' note.id %}" class="btn btn-secondary">Edit Note</a>
                        <a href="{% url 'notes_app:view_full_note' note.id %}" class="btn btn-secondary">View Full Note</a>
                        <a href="{% url 'notes_app:delete_note' note.id %}" class="btn btn-secondary">Delete Note</a>
                        </div>
                    </div>
                </div>
            </div>              
            <br>
            {% endwith %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <p style = "color:#808080">No notes found matching your criteria.</p>
    {% endif %}
    </div>
</div>
<br>  
{% endblock %}