{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'notes_app:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Available Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Borrowed Notes</a>
                </li>
            </ul>
            <ul class = "navbar-nav">
                <li class = "nav-item">
                    <a class = "nav-link active profile-picture" aria-current="page" href="{% url 'notes_app:profile' %}">
<!--                        <img src = "{% static 'notes_app/images/default_profile.png' %}"  alt="profile_picture"-->
<!--                        width = "30"-->
<!--                        height= "30">-->
                        login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
