{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'notes_app:index' %}">Home</a></li>
                {% block content %} {% endblock %}
            </ul>

            <ul class = "navbar-nav">
                 <li class = "nav-item">
                    <label class = "switch">
                        <input type = "checkbox" id = "theme-toggle">
                        <span class = "slider"></span>
                    </label>
                 </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src = "{% static 'notes_app/images/default_profile.png' %}"  alt="profile_picture"
                        width = "30"
                        height= "30">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li class = "dropdown-item"><a href = "{% url 'notes_app:profile' %}">View Profile</a></li>
                        {% block log %} {% endblock %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
