{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h1>Filter Notes</h1>
    <form method="get">
        {{ notes_filter.form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class = "card">
    {% if notes %}
        {% for note in notes %}
            <div class="card">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img src="{{ note.get_display_image.file.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <a href="{% url 'notes_app:view_clean_note' note.id %}"><h4 style = "color:#808080;text-decoration:underline;">{{ note.title }}</h4></a>
                        <p style = "color:#808080"><strong>Course Name:</strong> {{ note.course_name }}</p>
                        <p style = "color:#808080"><strong>Status: </strong>{% if note.is_borrowed %} Unavailable (Checked Out) {% else %} Available {% endif %}</p>
                        <p style = "color:#808080"><strong>Creation Date:</strong> {{ note.created_at }}</p>
                        <p style = "color:#808080"><strong>Rating: </strong>{{ note.get_average_rating }}{% if note.get_reviews.count > 0 %}/10{% endif %}</p>
                        <p style = "color:#808080"><strong>Visibility: </strong>{{ note.visibility }}</p>
                        <a href="{% url 'notes_app:review_note' note.id %}" class="btn btn-secondary">Review Note</a>
                        <a href="{% url 'notes_app:view_note_details' note.id %}" class="btn btn-secondary">View Details</a>
                        {% if not note.is_borrowed %}
                            <a href="{% url 'notes_app:request_note' note.id %}" class="btn btn-secondary">Request Note</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>              
            <br>
        {% endfor %}
    {% else %}
        <p style = "color:#808080">No notes found matching your criteria.</p>
    {% endif %}
    </div>
</div>
<br>  
{% endblock %}