{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h4 style = "color:#808080">In Progress Note Requests:</h4>
    {% if in_progress_requests %}
        {% for request_note in in_progress_requests %}
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                    <p style = "color:#808080"><strong>Requested Note: </strong><u><a href="{% url 'notes_app:view_note_details' request_note.note.id %}">{{ request_note.note.title }}</a></u></p>
                    <p style = "color:#808080"><strong>Return Date: </strong> {{ request_note.return_date }}</p>
                    </div>
                </div>
            </div>
        </div> 
        <br>
        {% endfor %}      
    {% endif %}       
    <br>
    <h4 style = "color:#808080">Borrowed Notes: </h4>
    {% if active_borrows %}
        {% for request_note in active_borrows %}
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                    <p style = "color:#808080"><strong>Requested Note: </strong><u><a href="{% url 'notes_app:view_clean_note' request_note.note.id %}">{{ request_note.note.title }}</a></u></p>
                    <p style = "color:#808080"><strong>Return Date: </strong> {{ request_note.return_date }}</p>
                    <a href="{% url 'notes_app:review_note' request_note.note.id %}" class="btn btn-secondary">Review</a>
                    <a href="{% url 'notes_app:view_note_details' request_note.note.id %}" class="btn btn-secondary">Details</a>
                    </div>
                </div>
            </div>
        </div> 
        <br>
        {% endfor %}  
    {% endif %}   
    <br>  
    <h4 style = "color:#808080">Past Note Requests / Borrows: </h4>
    {% if past_requests %}
        {% for request_note in past_requests %}
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                    <p style = "color:#808080"><strong>Requested Note: </strong><u><a href="{% url 'notes_app:view_note_details' request_note.note.id %}">{{ request_note.note.title }}</a></u></p>
                    <p style = "color:#808080"><strong>Return Date: </strong> {{ request_note.return_date }}</p>
                    {% if request_note.borrowed %}
                        <p style = "color:#808080"><strong>Librarian Action: </strong> Approved Request </p>
                        <a href="{% url 'notes_app:review_note' request_note.note.id %}" class="btn btn-secondary">Review</a>
                    {% else %}
                        <p style = "color:#808080"><strong>Librarian Action: </strong> Denied Request </p>
                    {% endif %}
                    
                    </div>
                </div>
            </div>
        </div> 
        <br>
        {% endfor %}  
    {% endif %}     
</div>
<br>  
{% endblock %}