{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    {% include 'notes_app/messages.html' %}
    <h1>Create a Public Collection</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <!-- No visibility selector or access_users -->

        <br>
        <div class="form-group">
            <label for="files">Public Notes To Include In Collection*</label>
            <select class="form-select" multiple aria-label="multiple select" name="collection_notes" id="collection_notes" required>
                {% for note in notes %}
                    <option value="{{ note.id }}">{{ note.title }}</option>
                {% empty %}
                    <option disabled>No public notes avvailable</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
{% endblock %}
