{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h1>Filter Collections</h1>
    <form method="get">
        {{ collections_filter.form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class="card"> 
        {% if user_collections %}
            {% for collection in user_collections %}
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <h4 style = "color:#808080">{{ collection.title }}</h4>
                            <p style = "color:#808080"><strong>Visibility:</strong> {{ collection.visibility }}</p>
                            <a href="{% url 'notes_app:edit_collection' collection.id %}" class="btn btn-secondary">Edit Collection</a>
                            <a href="{% url 'notes_app:view_full_collection' collection.id %}" class="btn btn-secondary">View Full Collection</a>
                            <a href="{% url 'notes_app:delete_collection' collection.id %}" class="btn btn-secondary">Delete Collection</a>
                        </div>
                    </div>
                </div>   
            {% endfor %}
        {% endif %}
        {% if collections %}
            {% for collection in collections %}
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <h4 style = "color:#808080">{{ collection.title }}</h4>
                            <p style = "color:#808080"><strong>Visibility:</strong> {{ collection.visibility }}</p>
                            <a href="{% url 'notes_app:view_full_collection' collection.id %}" class="btn btn-secondary">View Full Collection</a>
                        </div>
                    </div>
                </div>   
            {% endfor %}
        {% endif %}
        {% if not collections and not user_collections %}
            <p style = "color:#808080">No collections found matching your criteria.</p>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}