{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    {% include 'notes_app/messages.html' %}
    <h1>Filter Collections</h1>
    <form method="get">
        <div class="row">
          {% for field in collections_filter.form %}
            <div class="col-md-6 mb-3">
              {{ field|as_crispy_field }}
            </div>
          {% endfor %}
          {% for field in notes_filter.form %}
            <div class="col-md-6 mb-3">
              {{ field|as_crispy_field }}
            </div>
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>

    <!-- Collections created by the patron (can edit/delete) -->
    {% if user_collections %}
        <h4 style = "color:#808080">Your Public Collections</h4>
        {% for collection in user_collections %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 style = "color:#808080">{{ collection.title }}</h4>
                    <p style = "color:#808080"><strong>Visibility:</strong> {{ collection.visibility }}</p>
                    <p style = "color:#808080"><strong>Collection Items:</strong> {{ collection.get_collection_items }}</p>
                    <a href="{% url 'notes_app:edit_collection' collection.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'notes_app:view_full_collection' collection.id %}" class="btn btn-secondary">View</a>
                    <a href="{% url 'notes_app:delete_collection' collection.id %}?next={{ request.get_full_path }}" class="btn btn-secondary">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Public collections created by others (view-only) -->
    {% if public_collections %}
        <h4 style = "color:#808080">Other Public Collections</h4>
        {% for collection in public_collections %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 style = "color:#808080">{{ collection.title }}</h4>
                    <p style = "color:#808080"><strong>Visibility:</strong> Public</p>
                    <p style = "color:#808080"><strong>Collection Items:</strong> {{ collection.get_collection_items }}</p>
                    <a href="{% url 'notes_app:patron_view_collection' collection.id %}" class="btn btn-secondary">View</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Private collections patron has access to (view-only) -->
    {% if private_collections_with_access %}
        <h4 style = "color:#808080">Private Collections You've Been Granted Access To</h4>
        {% for collection in private_collections_with_access %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 style = "color:#808080">{{ collection.title }}</h4>
                    <p style = "color:#808080"><strong>Visibility:</strong> Private</p>
                    <p style = "color:#808080"><strong>Collection Items:</strong> {{ collection.get_collection_items }}</p>
                    <a href="{% url 'notes_app:patron_view_collection' collection.id %}" class="btn btn-secondary">View</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if private_collections_without_access %}
        <br>
        <h4 style = "color:#808080">Private Collections You Don't Have Access To</h4>
        {% for collection in private_collections_without_access %}
            <div class="card my-3">
                <div class="card-body">
                    <h5 style = "color:#808080">{{ collection.title }}</h5>

                    {% if collection.id in pending_collection_ids %}
                        <button class="btn btn-secondary" disabled>Access Requested</button>

                    {% elif collection.id in denied_collection_ids %}
                        <button class="btn btn-danger" disabled>Access Denied</button>

                    {% else %}
                        <form method="post" action="{% url 'notes_app:request_collection' collection.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Request Access</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if not user_collections and not public_collections and not private_collections_with_access and not private_collections_without_access%}
        <p class="text-muted">No collections available.</p>
    {% endif %}
</div>
{% endblock %}
