{% extends 'navbar_base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
    <li class = "nav-item"><a class = "nav-link" href="#">Add New Notes</a></li>
    <li class = "nav-item"><a class = "nav-link" href="#">Manage Borrowed Notes</a></li>
    <li class = "nav-item"><a class = "nav-link" href="#">View Patron Requests</a></li>
{% endblock %}

{% block log %}
<li class = "dropdown-item nav-item"><a class = "g_id_signout" href="{% url 'account_logout' %}">Logout</a></li>
{% endblock %}
