{% extends 'navbar_base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
    <li class="nav-item dropdown">
        <a class="h5 mt-1 nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Notes
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><a href="{% url 'notes_app:add_notes' %}">Add New Notes</a></li>
            <li class="dropdown-item"><a href="{% url 'notes_app:view_notes' %}">View Notes</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="h5 mt-1 nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Collections
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><a href="{% url 'notes_app:create_collection' %}">Create Collections</a></li>
            <li class="dropdown-item"><a href="{% url 'notes_app:view_collections' %}">View Collections</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="h5 mt-1 nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Manage Permissions
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">
                <a class="position-relative" href="{% url 'notes_app:manage_borrowed' %}">
                  Manage Borrowed Notes
                  {% if librarian_notification_count > 0 %}
                    <span class="position-absolute badge rounded-pill bg-danger ms-1 ml-100">
                      {{ librarian_notification_count }}
                    </span>
                  {% endif %}
                </a>
            </li>
          <li class="dropdown-item"><a href="{% url 'notes_app:view_requests' %}">Private Collection Requests</a></li>
          <li class="dropdown-item"><a href="{% url 'notes_app:list_patrons' %}">Manage Patron Roles</a></li>
        </ul>
    </li>
{% endblock %}

{% block log %}
    <li class="dropdown-item nav-item"><a class="g_id_signout" href="{% url 'account_logout' %}">Logout</a></li>
{% endblock %}
