/*
light/dark mode slider:
https://www.youtube.com/watch?v=nCJtL_-kDGU
*/

.dark {
  --background-color: rgb(25, 25, 25);
  --text-color: rgb(255, 255, 255, .75);
  --caret-color:white;
}

.light{
  --background-color: white;
  --text-color: black;
  --caret-color: black;
}

:root{
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sun and moon*/
  --size-of-icon: 1.4em;
  --slider-offset:0.3em;
}

/* font */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body, html{
  background-color:var(--background-color);
  color: var(--text-color);
  font-family: 'Anonymous Pro', monospace;
  width:100%;
  height:100%;
  overflow-x:hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a{
  text-decoration: none;
  color:black;
}

.navbar, footer{
  background-color: black;
  color:white;
}

footer{
  position:sticky;
  top:100vh;
  justify-content: center;
}

.switch input{
  width:0;
  height:0;
  opacity:0;
}

.switch {
  top:15%;
  display: block;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.slider {
  position: absolute;
  cursor: pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #f4f4f5;
  transition: 0.3s;
  border-radius: 30px;
}

.slider::before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top:15%;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.3s;
}


input:checked + .slider{
  background: #303136;
}

input:checked + .slider::before{
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset,0.3em)));
  background: #303136;

  /* change the angle and direction of the moon */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
