.profile-container{
    background:white;
    height: 50%;
    width:40%;
}

.profile-picture{
    background:black;
}


.username{
    background:blue;
}

.bio{
    background:red;
}

.login-required{
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width:40%;
    margin: 2% 30%;
}

.error{
    border-color: red;
}