html, body{
    margin:0;
    overflow-y:auto;
    display:flex;
    flex-direction: column;
}

.container{
    flex-grow:1;
    display:flex;
    flex-direction: column;
}


.profile-container{
    width:100%;
    flex-grow:1;
    display:grid;
    grid-template-columns: 25% auto;
    border-radius: 10px;
    overflow:hidden;
}


.banner{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border-radius:5px;

    min-height:15vh;
    height:100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}


.profile-picture-container{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5%;
}

.profile-picture{
    width:20vh;
    height:20vh;
    object-fit:cover;
    border-radius: 50%;

}

.social-stats{
    margin-top:2%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display:flex;
    justify-content: space-around;
}

.posts-count{
    text-align:center;
}

.follow-count{
    text-align:center;
}

.edit-btn{
    height:30px;
    border: solid var(--text-color);
    padding-top:0;
    padding-bottom:0;
    border-radius: 20px;
}

.info{
    margin-left:5%;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display:flex;
    flex-direction: row;
}


.name{
    margin-right:2%;
}

.details{
    margin-left:5%;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    display:flex;
    flex-direction: row;
}

.details *{
    margin-right:2%;
}
.bio{
    margin: 2% 2% 2% 5%;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    justify-content: center;

}

.notes-selection{
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    margin-left: 5%;
    margin-right:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    border-top: solid var(--seperator-color);
    border-width: 1px;
}

.notes-btn{
    margin-top:10%;
    height:90%;
    border-radius:0;
}

.btn{
    margin: 1%;
    color: var(--text-color);
}

.btn:hover{
    color: var(--text-color)
}

.btn-check:focus+.btn, .btn:focus{
    box-shadow:none;
}


.collections{
    height:auto;
    grid-column: 1 / 3;
    grid-row: 8 / 9;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    overflow:visible;
}

.card-body a{
    color:white;
}

.grey{
    opacity: 75%
}